h1 {
    text-align: center;
}

.form-cal
{
    width:600px; 
    display: block;
    /* text-align: center; */
    /* max-width: 600px; */
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    
}

button {
    margin-left:50%;
    margin-right:50%;
    position: relative;
}

.input-box {
    width: 400px
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    /* height: 50px; */
}

body {
    height: 1024px;
}

.network-class {
    width:600px; 
    display: block;
    /* text-align: center; */
    /* max-width: 600px; */
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
}