h1 {
    text-align: center;
}

button {
    margin-left:50%;
    margin-right:50%;
    position: relative;
}

.detail-table {
    align: center;
    display: block;    
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
    position: relative;
    width: 600px;
}

.all-possible-table {
    align: center;
    display: block;    
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
    position: relative;
    width: 800px;
}