h1 {
    text-align: center;
}


.table-result {
    display: block;
    /* text-align: center; */
    max-width: 600px;
    /* width:600px;  */
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
    position: relative;
    
}

button {
    margin-left:50%;
    margin-right:50%;
    position: relative;
}

tbody {
    align: center;
    display: block;    
    margin-left:50%;
    margin-right:50%;
    margin:0 auto;
    position: relative;
    width: 600px;
}