{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>ipcal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/main/index.css' %}">
    
  </head>
  <body>
    <div class="wrapper">          
      <div id="header">
        <br>
        <h1>IP Calculator</h1>
      </div>
      <div class="container">
        <div class="row network-class">
          <p>Network Class    <p>
          <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"> Any
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"> A
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"> B
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"> C
              </label>
            </div>
          </div>
          <br>
          <form class="form-cal" method = "POST" name="submit" value="submit" action="">
            {% csrf_token %}
            <div class="form-group">
              <label>IPv4 Address</label>
              {{ input_form.ip.errors }}
              <span class="input-box">                            
                {{ input_form.ip }}
              </span>
            </div>
            <div class="form-group">
              <label>Subnet</label>
              {% comment %} {{ input_form.prefix.errors }} {% endcomment %}
              {% comment %} <span class="input-box">               {% endcomment %}
                {{ input_form.prefix }}
              {% comment %} </span> {% endcomment %}
              <!-- <input class="form-control" id="exampleInputPassword1" placeholder="1-31" name="prefix"> -->
            </div>
            <br>
            <button type="submit" class="btn btn-success" name="submit" href="{% url 'result' %}" value="submit" >Submit</button>  
          </form>
        </div>
      </div>
    </div>
    <br><br><br>    
  </body>
  <footer class="footer blockquote-footer">
    <div class="container">
      <span class="text-muted">
        Created by - Natnaree Asavaseri
      </span>
    </div>
  </footer>
</html>